.ez-ecommerce-cockpit {
    .ez-tabs--commerce-cockpit {
        border-bottom: 0;
    }

    .ez-filters {
        border: 0;

        &__row {
            padding-bottom: 0;
            margin-bottom: 0;
            border: 0;
        }

        &:before,
        &:after {
            display: none;
        }
    }
}
