.ez-ecommerce-cockpit-status {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: calculateRem(16px);

    &--two-columns {
        grid-template-columns: 1fr 1fr;
    }

    &__box {
        margin-bottom: calculateRem(24px);
        background-color: $ibexa-white;
        border-radius: calculateRem(5px);
        overflow: hidden;
    }

    &__box-header {
        background-color: $ibexa-white;
        padding: calculateRem(8px) calculateRem(24px);
        border-radius: calculateRem(5px) calculateRem(5px) 0 0;
        margin-bottom: 0;
    }

    &__box-content {
        background-color: $ibexa-white;
        padding: calculateRem(16px) calculateRem(24px);
        border-radius: 0 0 calculateRem(5px) calculateRem(5px);
        min-height: calculateRem(112px);

        &--with-icon {
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-size: calculateRem(48px);
            padding-left: calculateRem(64px);
            padding-right: calculateRem(64px);
        }
    }

    &__erp-status {
        text-align: center;

        .ez-icon {
            margin-top: calculateRem(8px);
        }

        &--hidden {
            display: none;
        }

        &--error {
            .ez-icon {
                fill: $ibexa-color-danger;
            }
        }

        &--success {
            .ez-icon {
                fill: $ibexa-color-positive;
            }
        }
    }
}
