.ez-import-backup {
    &__import-in-progress--hidden,
    &__options-wrapper--hidden,
    &__no-files--hidden {
        display: none;
    }

    &__list {
        display: flex;
        flex-direction: column;
    }
}
